* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}
.main-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  width: 350px;
  height: 380px;
  margin: 200px auto;
  background-color: #ffffff;
  border: 1px solid #aaa8a8;
}
.logo {
  text-align: center;
}
.logo_text {
  margin: 35px;
}
.login-container input {
  display: block;
  width: 270px;
  height: 36px;
  padding: 8px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}
.login-btn {
  width: 268px;
  height: 30px;
  margin: 15px;
  background-color: #b9dffc;
  color: white;
  border: none;
  border-radius: 5px;
}

input {
  margin: 3px auto;
  background-color: #fafafa;
  font-size: 12px;
}
footer {
  position: relative;
  top: 40px;
  color: rgba(var(--fe0, 0, 55, 107), 1);
  font-size: 12px;
  text-align: center;
}
