/* box */
.box {
}
.box__item {
  width: 200px;
  height: 200px;
  border: 1px solid #333;
}
.box__item--red {
  position: relative;
  background-color: red;
}
.box__item--blue {
  position: fixed;
  left: 0;
  top: 0;
  height: 150px;
  background-color: blue;
}

/* feed */
.feeds {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.feeds > .feed {
  margin-bottom: 50px;
}
.feeds > .feed > .feed-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.feeds > .feed > .feed-header > .feed-header-icon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #eee;
}
.feeds > .feed > .feed-header > .feed-header-name {
  margin-left: 8px;
}
.feeds > .feed > .feed-body {
}
.feeds > .feed > .feed-body > .feed-media-content {
  background-color: #eee;
  width: 500px;
  height: 600px;
}
.feeds > .feed > .feed-footer {
}
.feeds > .feed > .feed-footer > .feed-btns {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.feeds > .feed > .feed-footer > .feed-btns > .feed-btn {
  margin: 0 5px 0 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 2px solid #eee;
  cursor: pointer;
}
.feeds > .feed > .feed-footer > .feed-btns > .feed-btn:last-child {
  margin: 0;
}
.feeds > .feed > .feed-footer > .feed-caption {
}
.feeds > .feed > .feed-footer > .feed-caption > .username {
  font-weight: bold;
}

/* 
position: absolute or fixed 사용 시

left,
top,
right,
bottom

width,
height

지정해줘야 정상적으로 보임.
*/

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding-left: 230px;
}
.logo_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  border-right: 1px solid gray;
  background-color: #fff;
  height: 100vh;
  width: 230px;
}

.container main {
  width: 630px;
}
.container aside {
  margin-left: 60px;
  width: 320px;
}
.list_story {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.list_story.story {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}
.list_story.text_id {
  display: flex;
}

.story a.follower_img {
  flex: 2;
}

.story a.follower_img img {
  width: 55px;
  height: 55px;
}
.story .user_id p {
  color: gray;
}
.my_profile {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.my_profile a.profile_img {
  flex: 2;
}

.my_profile a.profile_img img {
  width: 55px;
  height: 55px;
}

.my_profile .my_id {
  flex: 8;
}

.my_profile .my_id p {
  color: gray;
}
.my_id > button {
  flex: 2;
  color: #0095f6;
  font-size: 0.8em;
  font-weight: 500;
}
.recommends {
  padding-bottom: 5px;
}

.recommend {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.widget_ttl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.widget_ttl div {
  color: gray;
}

.recommend a.recommend_img {
  flex: 2;
}

.recommend a.recommend_img img {
  width: 45px;
  height: 45px;
}

.recommend.user_id {
  flex: 6;
}

.recommend .user_id p {
  color: gray;
}

.recommend button {
  flex: 2;
  color: #0095f6;
  font-size: 0.8em;
  font-weight: 500;
}

.menu ul li {
  position: relative;
  display: inline-block;
  line-height: 1.5;
  padding-right: 12px;
}
.menu ul li a {
  color: gray;
  font-size: 0.8em;
}
.star {
  color: gray;
  font-size: 0.8em;
}

.content-wrap {
  flex: 1;
  display: flex;
  justify-content: center;
}
